---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
# humanstxt.org/
# The humans responsible & technology colophon

/* TEAM */

    Creator: {{ site.authorName }}              
    Contact: {{ site.authorEmail }}                      
    Twitter: {{ site.authorHandle }}                    
    Location: {{ site.authorLocation }}

/* THANKS */

    Name: name or url
                            
/* SITE */
                            
    Last update: 2020/08/18                           
    Standards: HTML5, CSS3,            
    Components: Apache Server Configs, jQuery, Modernizr, Normalize.css          
    Software: 11ty