---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# www.robotstxt.org/

Sitemap: https://ecrosstexas.com/sitemap.xml

# Allow crawling of all content
User-agent: *
Disallow: /iamges
