<footer role="contentinfo" class="site-foot">
  <div class="wrapper">
    <p><a href="/copyright/">Copyright</a> &copy; 2001-2020 <a class="h-card" rel="me" href="{{ site.url }}">Eric Wallace</a>.</p>
    <p>
      <a href="/feed.xml">RSS</a> ⋅ 
      <a href="/sitemap.xml">Sitemap</a> ⋅ 
      <a href="/privacy/">Privacy</a> ⋅ 
      <a href="/todo/">To-Do</a>
    </p>
    <p>Me elsewhere: 
      <a class="u-url" href="https://twitter.com/ecrosstexas" rel="me">Twitter</a> ⋅ 
      <a class="u-url" href="https://github.com/ecrosstexas" rel="me">GitHub</a> ⋅
      <a class="u-url" href="https://www.instagram.com/ecrosstexas/" rel="me">Instagram</a> ⋅ 
      <a class="u-url" href="https://www.facebook.com/ecrosstexas" rel="me">Facebook</a></li>
    </p>
    <p>Built in Plano, Texas.</p>
    <p><em>Soli Deo Gloria</em></p>
    <a title="Back to Top" href="#top">return to top &#8593;</a>
  </div>
</footer>